body {
    background-image: none;
    background-color: #f1f1f1;
}

nav {
    display: flex;
}

.nav_links {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.pricing {
    display: flex;
    flex-direction: row;
}

.card {
    width: 325px;
    flex-basis: auto;
    border: 2px solid #45ADDD;
    align-self: flex-end;
}

#gallery, .gallery {
    display: none;
    visibility: hidden;
}